@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-light mt-5">
    <div class="container py-5">
        <h1 class="display-4 text-center mb-4">Welcome to My Employee Management App</h1>
        <p class="lead text-center mb-5">This app allows you to easily manage your employees.</p>
    </div>
</div>


