@page
@model RazorPagesDemoApp.Pages.Empoyees.AddModel
@{
    var message = ViewData["Message"]?.ToString();
}

<form method="post">

<h1 class="mb-3">Add new Employee</h1>
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }
    <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="AddEmployeeRequest.Name" />
</div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="AddEmployeeRequest.Email" />
    </div>
<div class="mb-3">
    <label class="form-label">Salary</label>
    <input type="number" class="form-control" asp-for="AddEmployeeRequest.Salary" />
</div>
<div class="mb-3">
    <label class="form-label">Date of Birth</label>
    <input type="date" class="form-control" asp-for="AddEmployeeRequest.DateOfBirth"/>
</div>
<div class="mb-3">
    <label class="form-label">Department</label>
    <input type="text" class="form-control" asp-for="AddEmployeeRequest.Department"/>
</div>
<div class="mb-3">
    <button type="sumbit" class="btn btn-primary">Save</button>
    </div>
</form>