@page "{id:Guid}"
@model RazorPagesDemoApp.Pages.Employees.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}


<form method="post">
    <h1 class="mb-3">Edit Employee</h1>
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="EditEmployeeViewModel.Id" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="EditEmployeeViewModel.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="EditEmployeeViewModel.Email" />
    </div>
    <div class="mb-3">
        <label class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="EditEmployeeViewModel.Salary" />
    </div>
    <div class="mb-3">
        <label class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="EditEmployeeViewModel.DateOfBirth" />
    </div>
    <div class="mb-3">
        <label class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="EditEmployeeViewModel.Department" />
    </div>
    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" asp-page-handler="Update">Update</button>
    
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
    </div>
</form>